# Fichiers et dossiers spécifiques à l'IDE
.settings/
.idea/

# Répertoires de build
target/
.classpath
# Fichiers de log

# Fichiers de configuration sensibles
application.properties
*.properties

# Fichiers temporaires

# Dossier contenant les librairies (si elles sont gérées par Maven)
lib/

# Fichiers créés par Maven
.mvn/
.mvn/*.iml